<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/Content/bootstrap.min.css" rel="stylesheet">
    <link href="~/Content/bootstrap-theme.min.css" rel="stylesheet">
    <title>@ViewBag.Title</title>
    
</head>
<body>
    <div class="navbar navbar-default" role="navigation">
        <a class="navbar navbar-brand" href="@Url.Action("List", "Article")">Young scientists</a>
        @if (User.Identity.IsAuthenticated == false)
        {
            <a class="navbar navbar-brand" href="@Url.Action("Login", "Account")">Login</a>
        }
        <a class="navbar navbar-brand" href="@Url.Action("List", "Article")">Articles</a>
        @if (User.Identity.IsAuthenticated)
        { 
            if (User.IsInRole("Admin") || User.IsInRole("Student"))
            { 
                <a class="navbar navbar-brand" href="@Url.Action("List", "Themes")">Themes</a>
            }
            <a href="@Url.Action("Logout", "Account")" class=" navbar-brand pull-right">
                Logout
                <span class="glyphicon glyphicon-log-in" aria-hidden="true"></span>
            </a>
            if (User.IsInRole("Admin"))
            {
                <a class="navbar navbar-brand" href="@Url.Action("Index", "Roles")">Roles</a>
            }
        }
</div>

    <div class="row panel">
        <div id="categories" class="col-xs-1">
        </div>
        <div class="col-xs-8">
            @RenderBody()
        </div>
    </div>
</body>
</html>